h1 {
  margin: 0;
}

.App {
  text-align: center;
}

.App ul li {
  padding: 0 10px;
  margin: 15px 0;
}

.idea,
.focusIdea {
  float: left;
  display: inline-block;
  text-decoration: none;
}

.idea > div,
.focusIdea > div {
  min-width: 250px;
  max-width: 300px;
  min-height: 400px;
  box-shadow: 3px 3px 5px 6px #ccc;
  border-radius: 10px;
  position: relative;
}

.idea > div > div {
  padding: 20px;
}

.focusIdea > div {
  border: 2px #90CAF9 solid;
}

.idea input,
.idea textarea {
  width: 200px;
  margin: 0;
  font-size: 14px;
}

.idea input {
  height: 30px;
}

.idea textarea {
  height: 200px;
}

.idea button {
  background: none;
  border: 0;
  color: #d00603;
  font-weight: bold;
  font-size: 12px;
}

.idea button img {
  position: relative;
  top: 4px;
  right: 8px;
}

.idea button:hover {
  cursor: pointer;
}

.idea .title {
  background: #37547D;
  color: #FFF;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.idea .body {
  background: #FFF;
  color: #616161;
}

.idea .delete {
  position: absolute;
  bottom: 0;
  width: 100%;
  padding: 20px 0;
  background: #E0E0E0;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}
